<form>
  <label>Enter one number</label>
  <input type="number" name="rndnumber" id="rndnumber" value="" required=true/>
  <input type="submit" value="Send"/>
</form>

<ol>
  <% @list.each do |item|%>
      <li><%= item.rnd %></li>
  <% end %>
</ol>

<script type="text/javascript">
  $("form").submit(function(event) {
    $.post("/store/number", { rndnumber: $("#rndnumber").val() }, function(response) {
      if(response.result == "Ok") {
        location.reload();
      }
      else {
        alert(response.result + ", Details: " + response.err);
      }
    });
    event.preventDefault();
  });
</script>
